PATH \          ; file search path
DEFEXT SRC      ; default file extension if none specified
DELIMS " "      ; browse word delimiter max 32chars. "" " includes quote char
SPECS *.TXT;*.SRC       ; index compiler specs.
GLOBAL .        ; (disabled) do global index, starting with . (cur) dir
LASERJET        ; HP LASERJET printer support, else default to PROPRINT
PROMPT OFF      ; OFF=don't prompt on exit with F10, just save and leave
EMBEDED OFF     ; embeded printer control code recognition. ON|OFF
AUTOSAVE 10     ; automatically save changes after 10 seconds untouched kbd
SWAPEMM ON      ; enable swap to EMM on shell to DOS, prefered ON|OFF
*SWAPFILE ZIMAGE.$$$ ; allow swap to disk on shell to DOS,
                ; normally a ramdrive is used (disabled)
BACKUP ON       ; we want to keep backup files of our edit sessions
AFTER 0         ; start looking after column 0
BEFORE 132      ; stop looking at column 132
STOPAT \        ; stop looking when ";" found
WRAP OFF        ; enable word-wrap & auto right margin calc. ON|OFF|20-132
TABX ON         ; set tab expansion ON|OFF.
TABSIZE 8       ; set tab expansion to every 8 chars. 1-40
COLOR 0 1 15    ; normal text attribs:   blue=bg, white=fg
COLOR 1 2  0    ; menubar:              green=bg, black=fg
COLOR 2 4 15    ; warning messages:       red=bg, white=fg
COLOR 3 9  7    ; trailing text:         gray=bg, white=fg
COLOR 4 4 15    ; menu corner labels:     red=bg, white=fg
TYPE 0 "ø"      ; index compiler command
TYPE 0 "2CONSTANT "
TYPE 0 ": "
TYPE 0 ":: "
TYPE 0 "ARRAY "
TYPE 0 "BVARIABLE "
TYPE 0 "CODE "
TYPE 0 "CONSTANT "
TYPE 0 "CREATE "
TYPE 0 "INTERRUPT: "
TYPE 0 "LABEL "
TYPE 0 "M: "
TYPE 0 "MACRO "
TYPE 0 "VALUE "
TYPE 0 "VARIABLE "
;               ; stop looking at file


